<!DOCTYPE html>
<html ng-app="timediff-example">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
  <title>Time Difference</title>
  <!-- at:css >> assets/site.css -->
  <!-- vendor:css -->
  <!-- endinject -->
  <!-- style:css -->
  <!-- endinject -->
  <!-- at:end -->
</head>
<body>
<a href="https://github.com/marcotaubmann/timediff-example/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  <div ng-controller="ExampleController" class="container text-center">
    <div class="row page-header">
      <h1 class="col-sm-offset-2 col-sm-8">Time Difference</h1>
    </div>

    <div class="row">
      <form class="col-sm-offset-2 col-sm-8 form-horizontal">

        <div class="form-group">
          <label for="start" class="col-xs-4 control-label">Start</label>
          <div class="col-xs-8">
            <input id="start" type="text" class="form-control" ng-model="start" placeholder="start time" />
          </div>
        </div>

        <div class="form-group">
          <label for="end" class="col-xs-4 control-label">End</label>
          <div class="col-xs-8">
            <input id="end" type="text" class="form-control" ng-model="end" placeholder="end time" />
          </div>
        </div>

        <div class="form-group">
          <label for="units" class="col-xs-4 control-label">Display Units</label>
          <div class="col-xs-8">
            <div ng-repeat="limit in [4, -4]" class="btn-group btn-group-justified">

              <div ng-repeat="unit in units | limitTo:limit" class="btn-group">
                <button
                  type="button"
                  class="btn"
                  ng-class="diffOpts.units[unit.key]?'btn-success':'btn-default'"
                  ng-click="toggle(unit.key)"
                >
                  {{unit.label}}
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="timediff" class="col-xs-4 control-label">Time Difference</label>
          <div class="col-xs-8 text-center">
            <my-timediff timediff="timediff" options="diffOpts" units="units"></my-timediff>
          </div>
        </div>

      </form>
    </div>

  </div>
  <!-- at:js >> assets/site.js -->
  <!-- vendor:js -->
  <!-- endinject -->
  <!-- app:js -->
  <!-- endinject -->
  <!-- at:end -->
</body>
</html>

